<h2><%=@user.username%></h2>
<%if @admin%>
    <h3>Welcome back, Admin!</h3>
    <%= link_to "Manage Admin Permissions", "/users"%>
<%else%>
<hr>
    <h3>Your Pending Orders:</h3>
    <hr>
    <%if @user.orders != []%>
        <%@user.orders.each do |order|%>
            <h4><%= order.item_name%> </h4>
            <p>Amount: <%=order.amount%></p>
        <%end%>
    <%else%>
        <p>No pending orders! Yay!</p>
    <%end%>
<%end%>
