<h2><%= @user.username%></h2>
<%if @user.admin%>
    <h3>Currently an admin.</h3>
<%else%>
    <h3>Currently not an admin.</h3>
<%end%>
<%= button_to "Toggle Admin Permission", "/toggle/#{@user.id}"%>